.span-22.prepend-1.append-1.last
	%h1 
		Comments for 
		= link_to @thing.title, @thing_path
	%ul
		- @comments.each do |c|
			%li
				= link_to c.title, @thing_path + comment_path(c)
	%p 
		= link_to "New Comment", @path
		
