.grid_12.content
	%h1
		= @comment.title
	%p
		= @comment.body
	-if current_user == @comment.user_id
		%p
			= link_to "Destroy it", comment_path, :method => 'delete'
			= link_to "Edit it", edit_comment_path
.clear