.span-24.last
	%h1
		Entries for 
		= link_to @req.title, request_path(@req)
	%ul
		- @entries.each do |c|		
			%li
				= link_to c.title, request_path(c.request_id) + entry_path(c)
	%p
		= link_to "New Entry", @path
	
		
.clear