!backcolor = #424242

body
	background-color = !backcolor


.container
	background-color: white
	

.signin
	background-color = !backcolor
	color: white
	a
		color: white


.align_right
	text-align: right
.center
	text-align: center
