!backcolor = #424242

body
	background-color = !backcolor


.container
	background-color: white
.red
	background-color: #FFBFB3
	color: white
.green
	background-color: green
	color: white
	
.flash
	margin-top: 10px
	

.onback
	background-color = !backcolor
	color: white
	h1
		a
			text-decoration: none
			color: white
	a
		color: white
		hover
			color: black

.align_right
	text-align: right
.center
	text-align: center
	
.underline
	text-decoration: underline

