body {
  background-color: #424242; }

.container {
  background-color: white; }

.red {
  background-color: red;
  color: white; }

.green {
  background-color: green;
  color: white; }

.signin {
  background-color: #424242;
  color: white; }
  .signin a {
    color: white; }

.align_right {
  text-align: right; }

.center {
  text-align: center; }

.underline {
  text-decoration: underline; }
