body {
  background-color: #424242; }

.container {
  background-color: white; }

.red {
  background-color: #FFBFB3;
  color: white; }

.green {
  background-color: green;
  color: white; }

.flash {
  margin-top: 10px; }

.onback {
  background-color: #424242;
  color: white; }
  .onback h1 a {
    text-decoration: none;
    color: white; }
  .onback a {
    color: white; }
    .onback a hover {
      color: black; }

.align_right {
  text-align: right; }

.center {
  text-align: center; }

.underline {
  text-decoration: underline; }

.pagination {
  position: relative;
  bottom: 20px; }
