.span-22.prepend-1.append-1.last
	%h2
		About
	%hr
.span-12.last.prepend-5.append-5.last
	%h2.center 
		We would like to address a few concerns that may have
		some bearing on our application.
	%hr
	%h3
		Who are you?
	%p
		= link_to "Ethan Fast"
		and
		= link_to "Muzzammil Zaveri"
		are currently students at the University of Virginia.
	%h3
		Is your determination genuine?
	%p
		Insert an awesome answer here.
	%h3
		Your idea is horrible for reason x. 
	%p
		A counter response.
	%h3
		Your idea is horrible for reason y. 
	%p
		A counter response.
