.span-24.center.massive.last
	%hr
		%h1 where life plays fair, and free
	%hr
.span-24.last
.span-12.center
	%h2 
		browse
		= link_to 'open requests.', requests_path
.span-12.center.last
	%h2 
		view
		= link_to 'awesome work.', requests_path
.span-16.last.prepend-4.append-4
	%hr
	%h4
		First, don't take anything I'm putting here overly seriously. 
		That said, I do like the idea of 'bijected' (the mathematical 
		term) karma; in life there is not often a one-to-one mapping of good <=> bad.
.span-8.last.prepend-7.append-7
	%h4
		Things left to do:
		%ul
			%li Cleanup/create decent design
			%li Make user profile useful (portfolio, ect.)
			%li Random security stuff (limit uploads, deletions, ect.)
			%li Pagination of some pages
			%li Setup comment-reply system
			%li Setup karma operation
			%li Setup winner operation
			%li Create way to browse winners
			%li Sorting options (by karma, date, ect.)
.span-16.last.prepend-4.append-4
	%h4
		The functionality is looking decent for the most part. We should probably talk in person
		at some point later in the week.

