.grid_12.content.one20.big_ad
	%h1 big slogan thing here.
.clear
.grid_12.thirty.dark_head.borderb
.clear
.grid_12.content
	.grid_6.small_ad.colorf1l.alpha
		%h1 headline is nice.
	.grid_6.small_ad.colorf2l.omega
		%h1 yes, and another.
.clear
.grid_12.thirty.dark_head.bordert
.clear
.grid_12.two00.content
	%p 
		Yes, I suck at design. This is only a template and demonstration of the "grid" system.
	%p
		As for this box, there are a bunch of things here - potential listings and such - that should hopefully
		look very nice. Just good stuff.
.clear
