.span-24.last
	%h1 big slogan thing here.
.span-24.last
.span-12
	%h2 headline is nice.
.span-12.last
	%h2 yes, and another.
.span-24.last
	%p 
		Yes, I suck at design. This is only a template and demonstration of the "grid" system.
	%p
		As for this box, there are a bunch of things here - potential listings and such - that should hopefully
		look very nice. Just good stuff.
