.grid_12.content
	%p 
		= @req.title
	%p
		= link_to "Destroy it", request_path, :method => 'delete'
		|
		= link_to "Comments", request_comments_path(@req)
		|
		= link_to "Entries", request_entries_path(@req)
.clear